!!!5
%html(ng-app="DemoApp")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge")
    %title Demo App
    %meta(name="viewport" content="width=device-width, initial-scale=1")
    %link(rel="stylesheet" href="app/app.css")
    %script(src="lib/angular/angular.js")
    %script(src="app/app.js")

  %body
    %h1 Demo App

    %badge

    %ul#portfolios(ng-controller="PortfoliosCtrl")
      %li(ng-repeat="portfolio in portfolios")
        {{portfolio.name}}
